.about-container {
    padding: 30px;
    max-width: 600px;
    margin: 0 auto;
}
.about-container h1 {
    color: whitesmoke;
}
.info {
    background-color: #9d0bd2;
    padding: 20px;
    color: whitesmoke;
    border-radius: 8px;
    margin-top: 20px;
}
.info p {
    margin: 10px 0;
}
