body{
    margin:0;
    background-color: rgb(229, 235, 235);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}
.up{
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
#facebook{
    color:blue;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}
#nad{
    font-size: 20px;
}

.sub{
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.sub form{
    display: flex;
    flex-direction: column;
    gap:11px;
}
#email, #password{
    font-size: 17px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 14px;
}
.log{
    background-color: rgb(42, 85, 205);
    color: white;
    font-size: 15px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#Newacc{
    background-color: rgb(51, 159, 59);
    color: white;
    display: block;
    font-size: 15px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
#forgot{
    text-align: center;
    display: block;
    font-size: 17px;
    text-decoration: none;
    margin:15px 0;
    color: rgb(81, 129, 212);
}
#create{
    text-decoration: none;
    margin-top: 20px;
    text-align:center; 
    font-size: 13px;
}
#str{
    color: black;
    text-decoration: none;
}
#str:hover{
    text-decoration: underline;
}

.under {
    padding: 20px 0;
    font-size: 10px;
    text-align: center;
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.languages {
padding: 8px 0;
border-bottom: 1px solid #dddfe2;
margin-bottom: 10px;
text-align: center;
}

.languages a {
color: #737373;
text-decoration: none;
margin-right: 10px;
}

.languages a:hover {
text-decoration: underline;
}

.links {
display: flex;
flex-wrap: wrap;
gap: 10px;
margin-bottom: 10px;
margin-left: 20px;
}

.links a {
color: #737373;
text-decoration: none;
}

.links a:hover {
text-decoration: underline;
}

.meta {
    color: #737373;
    font-size: 11px;
}
