.albums-container {
    padding: 20px;
}
.albums-container h1{
    color: whitesmoke;
}
.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.album-card {
    background: rgb(247, 218, 237);
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.album-info {
    padding: 20px;
    cursor: pointer;
    flex-grow: 1;
}
.album-info:hover {
    background-color: #f8f9fa;
}
.album-id {
    color: #6c757d;
    font-size: 0.9rem;
}
.album-card h3 {
    margin: 10px 0 0;
    font-size: 1.1rem;
}
.delete-btn {
    padding: 10px;
    background-color: #dc3545;
    color: rgb(216, 168, 168);
    border: none;
    cursor: pointer;
}
.delete-btn:hover {
    background-color: #c82333;
}
.loading {
    text-align: center;
    padding: 50px;
    color: #6c757d;
}
.empty {
    text-align: center;
    padding: 50px;
    color: #6c757d;
}