body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-weight: bold;
    font-size: 48px;
}
#up{
    color: rgb(71, 69, 69);
    font-size: 20px;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 24px;
    align-self: center;
}
.start30{
    align-self: center;
    background: linear-gradient(rgb(61, 61, 61), black);
    color:white;
    border-radius: 10px;
    padding:16px 24px;
    font-size: 20px;
    margin-top: 40px;
    font-weight: 400;
}
.money{
    display:flex;
    justify-content: center;
    align-items: stretch;   
    gap: 20px;               
    margin: 40px auto;
}
.plans{
    display: flex;
    flex: 1; 
    flex-direction: column;
    min-width: 30px; 
    border: 1px solid #d0d7de;
    border-radius: 10px;
    padding: 24px;              
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .7);
}
.plans button {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    cursor: pointer;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    font-weight: 600;
}
.organization{
    background: none;
}
.organization:hover{
    border-color: rgb(71, 69, 69);
}
.trial, .Continue-team{
    background: linear-gradient(rgb(61, 61, 61), black);
    color:white;
    border-radius: 10px;
    align-self: center;
}
.card{
    border: 1px solid rgb(97, 97, 97, 0.8);
    border-radius: 13px;
    padding: 24px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    will-change: transform; 
}
.card:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-color: rgb(97, 97, 97);
    transform: translateY(-8px); 
}

.enterprise-card {
    border: 2px solid #0969da !important; 
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .7);
}

.under{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.additional{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));     
    gap: 24px;
    margin: 40px auto;
    max-width: 1200px
}
#adds{
    color: rgba(9, 105, 218);
    text-transform: uppercase;
}
details{
    color: rgb(71, 69, 69);
}
h2{
    text-align: center;
}
.description{
    color: rgb(71, 69, 69);
    font-size: 13px;
    text-align: center;
    margin-top: 1px;
}
#at{
    margin:0;
    border:2px solid rgb(61, 61, 61, 0.3);
    padding:5px;
    border-radius: 20px;
    align-self: center;
    color: rgb(71, 69, 69);
    font-size: 13px;
}
.price {
    margin-top: 10px;
    margin-bottom: 10px;
}
.pum {
    position: relative;
    top: -0.5em;
    color: rgb(61, 61, 61);
}
.price-num {
    font-size: 48px;
    font-weight: 600;;
}
.price sup{
    color: rgb(130, 130, 130);
    font-size: 20px;
    position: relative;
    top: -0.9em;
    padding-right:4px;
}
.price sub{
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: -0.2em;
    padding: 0 5px;
}

@media (max-width: 768px){
    .money{
        flex-direction: column;
    }

    h1{
        font-size: 36px;
    }
}


 