.card {
    display: flex;
    flex-direction: column; 
    background: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    height: 100%; 
    box-sizing: border-box;
    transition: transform 0.2s;
}
.card:hover { 
    transform: scale(1.02); 
    box-shadow: 0 4px 12px rgba(0,0,0,0.8);
}
.image-section {
  text-align: center;
  margin-bottom: 15px;
}

.main-img img {
  width: 100%;
  height: 200px;
  object-fit: contain; 
}

.gallery {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
}

.gallery img {
  width: 40px;
  height: 40px;
  border: 1px solid #eee;
  cursor: pointer;
  object-fit: cover;
}

.gallery img.active {
  border-color: #ff3d00;
}

.info-section {
  flex-grow: 1; 
  margin-bottom: 15px;
}

.info-section h3 {
  font-size: 16px;
  margin: 0 0 10px;
  height: 40px;
  overflow: hidden;
  color:rgb(30, 71, 134);
}
.info-section h3:hover{
    text-decoration: none;
    cursor: pointer;
}
.desc {
  font-size: 13px;
  color: #666;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #d20f0f;
  font-size: 18px;
}


.action-section {
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
}

.share-btns {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
}

.wa { background: #105d2c; }
.tg { background: #042767; }

.kaspi-link {
  display: block;
  text-align: center;
  color: #007aff;
  text-decoration: none;
  font-size: 14px;
}
.rating{
    background-color: rgb(210, 170, 11);
}
  