body{
    margin:0;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;

}
.all{
    display: flex;
    justify-content: center;
    
    align-items: stretch;
    min-height: 90vh;
    gap: 80px;
    margin-top: 30px;
}

.left{
    max-width: 450px;
    border-right: 2px solid #dbdbdb; 
    padding-right: 80px; 
    padding-bottom: 50px;
}
#Instagram{
    width: 100px;
    margin-bottom: 20px;
    
}           
#peop{
    width: 500px;
}
h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 27px;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sub{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 450px;
    gap:20px;
}
.sub form{
    display: flex;
    flex-direction: column;
    gap:8px;
    border-radius: 10px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap:5px;
}
#email, #password{
    font-size: 17px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 14px;
}
.log{
    background-color: rgb(138, 183, 220);
    color: white;
    font-size: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.facebook{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-top: 20px;
    
}
.facebook a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}
.newacc{
    color: rgb(81, 129, 212);
    font-size: 15px;
    padding: 12px;
    border-radius: 20px;
    border-color: rgb(81, 129, 212) ;
    cursor: pointer;
    background-color: white;
}
.forgot{
    background:none;
    font-size: 17px;
    font-size: 15px;
    padding: 12px;
    cursor: pointer;
    border-color: white;
    border-radius: 20px;
    margin-bottom: 25px;
}
.forgot:hover{
    border-radius: 20px;
    border-color: rgb(81, 129, 212) ;

}
.under {
    padding: 20px;
    font-size: 10px;
    text-align: center;
    background-color: white;
    border-top: 2px solid #dbdbdb;
    padding-right: 80px; 
}
.links {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
margin-bottom: 15px;
font-size: 10px;
}

.links a {
color: #737373;
text-decoration: none;
}

.links a:hover {
text-decoration: underline;
}

select{
    border: none;
    color: #8e8e8e;
    background: none;
    cursor: pointer;
}
#met{
    color: #8e8e8e;
}
.meta{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}

#gradient {
    background: linear-gradient(to right, orange, red, purple);
    background-clip: text;
    color: transparent;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 100px;
}
.or-separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.line-horizontal {
    flex: 1;
    height: 1px;
    background-color: #363636; 
}

.or-text {
    padding: 0 18px;
    color: #8e8e8e;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
